body {
	background:#e0e0e0;
}

div {
	border: 0px solid black;
}

div#chat {
	clear: both;
	width: 40em;
	height: 40em;
	overflow: auto;
	background-color: #fff;
	padding: 4px;
	margin:0 auto;
}

div#input {
	clear: both;
	width: 40em;
	padding: 4px;
	background-color: #fff;
	margin:0 auto;
}

input#phrase {
	width: 30em;
}

input#username {
	width: 14em;
	background-color: #fff;
	height:4em;
}

div.hidden {
	display: none;
}

span.from {
	font-weight: bold;
}

span.alert {
	font-style: italic;
}