@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css");
body {
	background:#fff;
	padding:0;
	margin:0;
	color:#556270;
	font-family: 'Terminal Dosis', sans-serif;
}

h1 {
	font-size:24px;
}

span#block1 {
	color:#C7F464;
}

span#block2 {
	color:#4ECDC4;
}

span#block3 {
	color:#556270;
}

div#chat {
	clear: both;
	overflow: hidden;
	background-color: #fff;
	margin:12px;
}

div#input {
	clear: both;
	padding:10px;
	color:#556270;
}

input#phrase {
	width: 640px;
	font-size:24px;
	border:3px solid #556270;
	padding:4px;
	outline:none;
	color:#556270;
	display:block;
	float:left;
	border-radius:6px;
	font-family: 'Terminal Dosis', sans-serif;
}

input#phrase:focus {
	border-color:#C44D58;
}

input#username {
	width: 14em;
	background-color: #fff;
	height:4em;
}

div.hidden {
/* 	display: none; */
}

span.from {
	font-weight: bold;
}

span.alert {
	font-style: italic;
}

div#top {
	height:120px;
	display:block;
	background:#f5f5f5;
	overflow:hidden;
}

div#bottom {
	height:120px;
	display:block;
	background:#f5f5f5;
	position:fixed;
	width:100%;
	bottom:0;
}

div#chatarea {
	width:960px;
	height:600px;
	overflow:auto;
	margin:0 auto;
	line-height:40px;
}

span#prompt {
	width:100px;
	display:block;
	float:left;
	padding:8px;
	font-size:24px;
}

div.center {
	width:960px;
	margin:0 auto;
}

input#sendB {
	border:0;
	padding:4px;
	border-radius:6px;
	font-size:26px;
	background:#4ECDC4;
	color:#556270;
	display:block;
	float:left;
	margin-left:30px;
	margin-top:3px;
	width:100px;
	font-family: 'Terminal Dosis', sans-serif;
}

input#sendB:hover {
	background:#C44D58;
	cursor:pointer;
}

span.start-quote {
	font-size:48px;
	padding:10px;
	font-weight:bold;
}

span.end-quote {
	font-size:48px;
	padding:10px;
	font-weight:bold;
}

span.error {
	color:#C44D58;
}

.me {
	color:#C7F464;
}

.system {
	color:#FF6B6B;
}

.partner {
	color:#4ECDC4;
}

.incoming {
	display:none;
}

/* Turn on a 13x13 scrollbar */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
 
::-webkit-scrollbar-button:vertical {
    background-color: red;
    border: 1px dashed blue;
}
 
/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}
 
/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
 
/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:vertical:increment {
    display:none;
}
 
/* Place The scroll up button at the up */
::-webkit-scrollbar-button:vertical:decrement {
    display:none;
}
 
::-webkit-scrollbar-track:vertical {
	width:5px;
}
 
/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
    border: none;
}
 
/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
    border: none;
}
 
/* Track below and above */
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    width:5px;
}
 
/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    width: 5px;
    background-color: #556270;
}
::-webkit-scrollbar-thumb:vertical:hover {
    width: 5px;
    background-color: #C44D58;
}
 
/* Corner */
::-webkit-scrollbar-corner:vertical {
    background-color: black;
}
 
/* Resizer */
::-webkit-scrollbar-resizer:vertical {
    background-color: gray;
}
