<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jetty7test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WebSocketChatServlet</display-name>
    <servlet-name>WebSocketChatServlet</servlet-name>
    <servlet-class>demo.controller.WebSocketTrafficController</servlet-class>
    <init-param>
    	<param-name>jdbcDriverName</param-name>
    	<param-value>org.postgresql.Driver</param-value>
    </init-param>
    <init-param>
    	<param-name>jdbcURL</param-name>
    	<param-value>jdbc:postgresql://localhost:5432/postgres</param-value>
    </init-param>
    <init-param>
    	<param-name>jdbcUser</param-name>
    	<param-value>postgres</param-value>
    </init-param>
    <init-param>
    	<param-name>jdbcPassword</param-name>
    	<param-value>notmysql</param-value>
    </init-param>
    <init-param>
    	<param-name>appName</param-name>
    	<param-value>chatbotfriend</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocketChatServlet</servlet-name>
    <url-pattern>/chat/*</url-pattern>
  </servlet-mapping>
</web-app>